@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
  background-color: #111122;
  font-family: 'Fira Code', monospace;
  color: white;
}

p {
  white-space: pre-wrap;
}

#clear {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 3em;
  height: 3em;
  color: #ffffff;
}

#clear:hover {
  color: #aaaaaa;
}